body{
margin:0px;
}
.sandCanvas{
    width: 100%;    
    height: 80vh;   
    display: block;
    border: 4px solid black;
    margin-bottom: 0px;
    margin-left: 0px;
}
.controlPanel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;

}
.sizeSelector{
    width:500px;
}
.colorPalette {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
  }
  
.colors {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: none;
    cursor: pointer;
  }
  